<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginUserLog-Mapper">
	<update id="insertLoginUserLog">

        INSERT INTO login_log (
    d_id,
    ipaddress,
    indate,
    log_cla,
    d_name
) VALUES (
     #{dId},
    #{ipaddress},
    sysdate,
    #{logCla},
    #{dName}
)
	</update>

	<update id="deleteLoginUserLog">
		delete from login_Log
	</update>

</mapper>















